<h1>New Article</h1>

<%= form_with model: @article do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description, size: "60x10" %>
  </div>

  <%= form.select :category_id, Category.all.map{ |c| [c.category, c.id] },:include_blank => "Select One" %>

  <%= form.submit %>
<% end %>